<!-- <html>
    <head>
        {% if title %}
        <title>{{title}} - micrblog</title>
        {% else %}
        <title>Welcome to microblog</title>
        {% endif %}
    </head>

    <body>
        <h1>Hello, {{user.nickname}}!</h1>
        {% for post in posts %}
        <p>{{post.author.nickname}} says: <b>{{post.body}}</b></p>
        {% endfor %}
    </body>
</html> -->

{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>
{% for post in posts %}
<div><p>{{post.author.nickname}} says: <b>{{post.body}}</b></p></div>
{% endfor %}
{% endblock %}
    