<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  {% block head %}{% endblock %}
  <!-- <link rel="stylesheet" href="/static/style.css" type="text/css" /> -->
  <!-- <link href="/static/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
</head>

<body>
  {# Navigation #}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">龙哥的搜索引擎</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">关于我们<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">链接</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">我是链接</a>
            <a class="dropdown-item" href="#">我是第二个链接</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">这里是第三个</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">不管用的</a>
        </li>
      </ul>
      <form action="/search" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
      </form>
    </div>
  </nav>

  <div class="container">
    {% block body %}{% endblock %}
    <div class="row justify-content-center col-12 col-md-12" style="margin-top:200px">
      <div class="row justify-content-center col-12 col-md-12">
        <img alt="DAL Search" id="hplogo" src="/static/logo.png">
      </div>
      <div class="row justify-content-center col-12 col-md-12">
        <form class="tsf col-12 col-md-8" action="/search" method="get">
          <div class="form-row justify-content-center">
            <input class="form-control" name="q" type="text" placeholder="关键字在这里～～">
          </div>
          <div class="form-row justify-content-center qbtn">
            <button aria-label="DAL Search" type="submit" class="btn btn-outline-primary">搜搜搜</button>
            <input class="btn btn-outline-success" type="submit" value="倍儿爽">
          </div>
        </form>
      </div>
    </div>
  </div>
  {% block bottom %}{% endblock %}
  </div>
  <div class="fixed-bottom">
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}
  </div>
  {% block afterscript %}{% endblock %}
</body>

</html>